.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px dashed #e3e3e3;
}

.id {
  padding: 5px;
  font-size: 14px;
  color: #afafaf;
}

.date {
  padding: 5px;
  font-size: 18px;
  color: #888888;
}

.from {
  font-size: 24px;
  padding: 10px 5px;
}

.text {
  padding: 5px;
  font-size: 18px;
  line-height: 1.2;
}